<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
   <link rel="stylesheet" href="http://gipis.unp.edu.ar/static/css/style.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    />
 <!--  <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>-->
    <script src="http://gipis.unp.edu.ar/static/js/app.js" defer></script>
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% block body%}
    {% endblock %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
   
</body>
</html>